@import "./sassConfig.scss";
@import "./normalize.scss"; // 重置浏览器样式
// 全局性公共的样式
body {
  background-color: #3c8dbc !important;
}
.inline_button {
  button + button {
    margin-left: 10px;
  }
}

// text-align
.text-align {
  text-align: center;
}

// color
.color-red {
  color: red;
}
